<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROJECT"
        tools:targetApi="31">
        <activity
            android:name=".cashdonate"
            android:exported="false" />
        <activity
            android:name=".updateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NOTIFICATION"
            android:exported="false" />
        <activity
            android:name=".Donate_Now2"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DONATE_NOW"
            android:exported="false" />
        <activity
            android:name=".NGO4"
            android:exported="false" />
        <activity
            android:name=".NGO3"
            android:exported="false"
            android:label="@string/title_activity_ngo3" />
        <activity
            android:name=".NGO1"
            android:label="NGO1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NGO2"
            android:label="NGO2"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>